<%= form_with model: @team, class: 'team-new-main',local: true do |f| %>
  <div class='team-new-form-wrap'>
    <div class='team-new-form-header'>
      <h1 class='team-new-form-header-text'>
        チーム情報編集
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>


    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <div class="team-new-form-group">
        <div class='team-new-form-text-wrap'>
          <label class="form-image">
              <span class="image-file">画像</span>
              <%=f.file_field :image, class: 'hidden' %>
          </label>
        </div>

        <div class='team-new-form-text-wrap'>
          <label class="team-new-form-text">チーム名</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :team_name, class:"input-default", id:"team_name", placeholder:"", autofocus: true %>
   
      
        <div class='team-new-form-text-wrap'>
          <label class="team-new-form-text">代表者名</label>
          <span class="indispensable">必須</span>
        </div>
         <%= f.text_field :name, class:"input-default", id:"name", placeholder:"" %>

        <div class='team-new-form-text-wrap'>
          <label class="team-new-form-text">紹介文</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :introduction , class:"team-new-input-default", id:"introduction", placeholder:"", autofocus: true %>

        <div class="team-new-form-text-wrap">
          <label class="team-new-form-text">活動エリア</label>
          <span class="indispensable">必須</span>
        </div>
          <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"input-default"}) %>
          <input name="team[user_ids][]" type="hidden" value=<%= current_user.id %>>
    </div>

    
    <div class='login-btn'>
      <%= f.submit "チーム更新" ,class:"login-red-btn" %>
    </div>
  </div>




<% end %>