  <div class="main">
    <div class='form-wrap'>
            <div class='form-header'>
              <h1 class='form-header-text'>
                チームページ
              </h1>
            </div>


            <div class="form-group">
                  <div class='form-text-wrap'>
                      <div class="form-image">
                          <%= image_tag @team.image, class: 'team-image' if @team.image.attached? %>
                      </div>
                  </div>

                  <div class='form-text-wrap'>
                      <label class="form-text">チーム名:</label>
                      <span class="indispensable"><%=link_to @team.team_name, team_main_path(@team) %></span>
                  </div>

                  <div class='form-text-wrap'>
                      <label class="form-text">代表者:</label>
                      <span class="indispensable"><%= @team.name %></span>
                  </div>

                  <div class='form-text-wrap'>
                      <label class="form-text">活動エリア:</label>
                      <span class="indispensable"><%= @team.area.name %></span>
                  </div>

                   <div class='form-text-wrap'>
                      <label class="form-text">スケジュール:</label>
                      <span class="indispensable"><%= link_to 'カレンダー', calenders_path %></span>
                  </div>

                  <div class='form-text-wrap'>
                      <label class="form-text">メンバー一覧:</label><br>
                      <span class="indispensable">
                        <% @team.users.each do |member| %>
                          <%= member.nickname %><br>
                        <% end %>
                      </span>
                  </div>
            </div>

      <div class='login-btn'>
          <% if @team.owner_id == current_user.id %>
             <div class="login-red-btn"><%= link_to '編集', edit_team_path(@team) ,class:"login-red-btn"%></div>
            <div class="login-red-btn"><%= link_to '削除',team_all_destroy_path(@team),method: :delete,data: { confirm: '本当に削除しますか？' } ,class:"login-red-btn" %></div>           
          <% end %>
      </div>

      

   
        

    </div>
</div>


    