 <div class='col-md-8 offset-md-1'>
      <h2>>チーム詳細</h2>
      <table class='table table-hover table-inverse'>
        <tr>
          <td><%= image_tag @team.image, class: 'team-image' if @team.image.attached? %></td>
          <td><%=link_to @team.team_name, team_main_path(@team) %></td>
          <td><%= @team.name %></td>
          <td><%= @team.area_id %></td>
          <td>
              <% @team.users.each do |member| %>
                <%= member.name %><br>
              <% end %>
          </td>
          
          <td>
              <% if @team.owner_id == current_user.id %>
                <%= link_to 'Edit', edit_team_path(@team), class: "btn btn-sm btn-success" %>
                <%= link_to '勉強会削除',team_all_destroy_path(@team),method: :delete,data: { confirm: '本当に削除しますか？' } ,
                class: "btn btn-sm btn-outline-danger" %>```
              <% end %>

                <!-- ログインユーザが当該コミュニティに所属している場合 -->
              <% if @team.user_user_teams?(current_user) %>
                <%= link_to '退会する', team_user_team_path(@team, @user_team), method: :delete, data:{ confirm: "コミュニティ「#{@team.team_name}」を退会します。よろしいですか？" } ,class:"mini-red-link-btn font-bold text-line-none" %>
                  <!-- 当該コミュニティには所属していないが、ログインはしている場合 -->
              <% elsif current_user %>
                  <% if @apply %>
                      <%= link_to '申請取消', team_apply_path(@team, @apply), method: :delete, class: "mini-red-link-btn font-bold text-line-none" %>
                  <% else %>
                      <%= link_to '加入申請', team_applies_path(@team), method: :post, class: "mini-green-link-btn font-bold text-line-none" %>
                  <% end %>
              <% end %>
              
          </td>
        </tr>
      </table>
    </div>

    <%# elsif @team.users.include?(current_user) %>
                <%#= link_to 'チームを退会する', team_path(@team), method: :delete, class: "btn btn-sm btn-danger" %>
              <%# else %>
                <%#= link_to 'チームに参加する', team_join_path(@team), class: "btn btn-sm btn-success" %>
              <%# end %>