 <div class='col-md-8 offset-md-1'>
      <h2>予定詳細</h2>
      <table class='table table-hover table-inverse'>
        <tr>
          <td><%= @calender.team.team_name %></td>
          <td><%= @calender.title %></td>
          <td><%= @calender.content %></td>
         
          
          <td>
              <%## if @team.owner_id == current_user.id %>
                <%= link_to 'Edit', edit_calender_path(@calender), class: "btn btn-sm btn-success" %>
                <%= link_to '削除',calender_path(@calender),method: :delete,data: { confirm: '本当に削除しますか？' } ,
                class: "btn btn-sm btn-outline-danger" %>```
              <%## end %>
          </td>
        </tr>
      </table>

  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@calender, @attend], local: true) do |form| %>
      <%= form.collection_select(:attendance_id, Attendance.all, :id, :name,{}) %>
      <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
  </div>
   <div class="comments">
      <h4>出欠一覧</h4>
        <div>出席</div>
      <% @attends.each do |attend| %>
        <% if attend.attendance_id == 1 %>
            <%= attend.user.nickname %>
            <%= link_to "削除", calender_attend_path(@calender, attend), method: :delete %>
        <% end %>
      <% end %>
      <div>欠席</div>
      
        <% @attends.each do |attend| %>
          <% if attend.attendance_id == 2 %>
          <p>
            <%= attend.user.nickname%>
          </p>
          <% end %>
      <% end %>
      <div>未定</div>
      <% @attends.each do |attend| %>
          <% if attend.attendance_id == 3 %>
          <p>
            <%= attend.user.nickname%>
          </p>
          <% end %>
      <% end %>
    </div>





  