   <div class="calender-show-main">
      <div class='calender-show-form-wrap'>
            <div class='calender-show-form-header'>
              <h1 class='calender-show-form-header-text'>
                スケジュール詳細
              </h1>
            </div>


            <div class="calender-show-form-group">
                  <div class='calender-show-form-text-wrap'>
                      <label class="calender-show-form-text">チーム名:</label>
                      <span class="indispensable"><%=@calender.team.team_name %></span>
                  </div>

                  <div class='calender-show-form-text-wrap'>
                      <label class="calender-show-form-text">タイトル:</label>
                      <span class="indispensable"><%= @calender.title %></span>
                  </div>

                  <div class='calender-show-form-text-wrap'>
                      <label class="calender-show-form-text">詳細:</label>
                      <span class="indispensable"><%= @calender.content %></span>
                  </div>

                  <div class='calender-show-form-text-wrap'>
                      <label class="calender-show-form-text">日付:</label>
                      <span class="indispensable"><%= "日付: #{@calender.start_time.year}年#{@calender.start_time.month}月#{@calender.start_time.day}日" %></span>
                  </div>

                   <div class='calender-show-form-text-wrap'>
                      <label class="calender-show-form-text">時間:</label>
                      <span class="indispensable"><%= "時間: #{@calender.start_time.hour}時#{@calender.start_time.min}分〜#{@calender.end_time.hour}時#{@calender.end_time.min}分" %></span>
                  </div>
            </div>

 

       <div class='calender-show-login-btn'>
          <% if @calender.user_id == current_user.id %>
             <div class="calender-show-login-red-btn"><%= link_to '編集', edit_calender_path(@calender) ,class:"calender-show-login-red-btn"%></div>
            <div class="calender-show-login-red-btn"><%= link_to '削除',calender_path(@calender),method: :delete,data: { confirm: '本当に削除しますか？' } ,class:"calender-show-login-red-btn" %></div>           
          <% end %>
      </div>

      
          <div class='calender-show-form-header'>
            <h1 class='calender-show-form-header-text'>
              出欠入力
            </h1>
          </div>
 
            <div class="calender-show-form-group">
                  <% if user_signed_in? %>
                   <div class="calender-show-form-text-wrap">
                     <label class="calender-show-form-text">出欠入力</label>
                      <span class="indispensable">必須</span>
                    </div>
                    <%= form_with(model: [@calender, @attend], local: true) do |form| %>
                      <%= form.collection_select(:attendance_id, Attendance.all, :id, :name,{},{class:"input-default"}) %>



                  <div class='calender-show-login-btn'>
                    <%= form.submit "SEND" ,class:"calender-show-login-red-btn"%>
                  </div>
                    <% end %>
                  <% else %>
                    <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
                    </strong>
                  <% end %>
            </div>

            <div class='calender-show-form-header'>
              <h1 class='calender-fshow-orm-header-text'>
                出欠一覧
              </h1>
            </div>


            <div class="attends">

                <div class="attend">
                <div class="attend-num">出席</div>
                <% @attends.each do |attend| %>
                  <% if attend.attendance_id == 1 %>
                
                    <div class="attend-left">
                        <div class="attend-name"><%= attend.user.nickname %></div>
                        <% if attend.user_id == current_user.id %>
                        <div class="attend-destroy"><%= link_to "削除", calender_attend_path(@calender, attend), method: :delete %></div>
                        <% end %>
                    </div>
                
                  <% end %>
                <% end %>
                </div>
               
               

                <div class="attend">
                <div class="attend-num">欠席</div>
                  <% @attends.each do |attend| %>
                    <% if attend.attendance_id == 2 %>
                
                      <div class="attend-left">
                          <div class="attend-name"><%= attend.user.nickname%></div>
                          <% if attend.user_id == current_user.id %>
                          <div class="attend-destroy"><%= link_to "削除", calender_attend_path(@calender, attend), method: :delete %></div>
                          <% end %>
                      </div>
               
                    <% end %>
                <% end %>
                </div>

                <div class="attend">
                <div class="attend-num">未定</div>
                <% @attends.each do |attend| %>
                    <% if attend.attendance_id == 3 %>
                  
                      <div class="attend-left">
                          <div class="attend-name"><%= attend.user.nickname%></div>
                          <% if attend.user_id == current_user.id %>
                          <div class="attend-destroy"><%= link_to "削除", calender_attend_path(@calender, attend), method: :delete %></div>
                          <% end %>
                      </div>
                 
                    <% end %>
                <% end %>
                </div>
            </div>
  </div>
</div>





  