


<%= form_with model: @game, class: 'game-new-main',local: true do |f| %>
  <div class='game-new-form-wrap'>
    <div class='game-new-form-header'>
      <h1 class='game-new-form-header-text'>
        練習試合募集内容編集
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>


    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <div class="game-new-form-group">
        <div class='game-new-form-text-wrap'>
           <select name="team_id">
            <option value="">チームを選択してください</option> 
            <% Team.where(user_id: current_user.id).each do |team| %>
            <option value=<%=team.id%>><%= team.team_name %></option>
            <% end %>
          </select>
        </div>

        <div class='game-new-form-text-wrap'>
          <label class="game-new-form-text">開始日時</label>
          <span class="indispensable">必須</span>
        </div>
         <div class="game-new-time-input-default"><%= f.datetime_select :start_time, class:"game-new-time-input-default", id:"name", placeholder:"" %></div>

        <div class='game-new-form-text-wrap'>
          <label class="game-new-form-text">終了日時</label>
          <span class="indispensable">必須</span>
        </div>
          <div class="game-new-time-input-default"><%= f.datetime_select:end_time, class:"game-new-time-input-default", id:"name", placeholder:"" %></div>

       <div class='game-new-form-text-wrap'>
          <label class="game-new-form-text">タイトル</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :title, class:"game-new-input-default", id:"team_name", placeholder:"", autofocus: true %>


        <div class='game-new-form-text-wrap'>
          <label class="game-new-form-text">場所</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :place, class:"game-new-input-default", id:"team_name", placeholder:"", autofocus: true %>

        <div class='game-new-form-text-wrap'>
          <label class="game-new-form-text">詳細</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :content , class:"game-new-input-default", id:"introduction", placeholder:"", autofocus: true %>

  
    </div>

    
    <div class='login-btn'>
      <%= f.submit "練習試合募集内容更新" ,class:"login-red-btn" %>
    </div>
  </div>




<% end %>