<h1>新規練習試合募集</h1>

<%= form_with(model: @game, local: true) do |form| %>

  <select name="team_id">
      <option value="">チームを選択してください</option> 
      <% Team.where(user_id: current_user.id).each do |team| %>
      <option value=<%=team.id%>><%= team.team_name %></option>
      <% end %>
  </select>
 

  <div class="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

    <div class="time">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>
    <div class="time">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="content">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>