<section id="team">
  <div class="registration-main">
    <div class="form-wrap">
          <div class="form-header">
            <h1 class="form-header-text">練習試合募集一覧</h1>
          </div>

           <div class='index-form-group'>
            <%= link_to '新規募集', new_game_path ,class:"login-red-btn"%> 
          </div>

          <div class="search">
            <%= form_with(url: search_games_path, local: true, method: :get, class: "search-form") do |form| %>
              <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
              <%= form.submit "検索", class: "search-btn" %>
            <% end %>
          </div>

          <div class="game-all-team">
              <% @game.each do |game| %>
              <li class='game-list'>
                <%= link_to team_path(game.team_id), method: :get do %>
                  <div class='game-item-img-content'><div class="game-f"><%= image_tag game.team.image, class: 'team-image' if game.team.image.attached? %></div>
                      
                      
                  </div>
                  <div class='game-item-info'>
                    <div class="game-item">
                        <div class='game-item-name'>
                          <div class="game-e"><%=link_to "募集内容:  #{game.title}", game_path(game) %></div>
                        </div>
                        <div class='game-item-name'>
                          <div class="game-e"><%= link_to "チーム名: #{game.team.team_name}", team_path(game.team_id) %></div>
                        </div>
                        <div class='game-item-name'>
                          <div class="game-e"><%= "エリア: #{game.team.area.name}" %></div>
                        </div>
                        <div class='game-item-name'>
                          <div class="game-e"><%= "場所: #{game.place}" %></div>
                        </div>
                        <div class='game-item-name'>
                          <div class="game-e"><%= "日付: #{game.start_time.year}年#{game.start_time.month}月#{game.start_time.day}日" %></div>
                        </div>
                        <div class='game-item-name'>
                          <div class="game-e"><%= "時間: #{game.start_time.hour}時#{game.start_time.min}分〜#{game.end_time.hour}時#{game.end_time.min}分" %></div>
                        </div>
                      </div>
                  </div>
                <% end %>
              </li>
              <% end %>
          </div>
       </div>
    <div>
</section>
