<h1>練習試合募集一覧</h1>
  <%= form_with(url: search_games_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>

  <div class="contents row">
  <% @game.each do |game| %>
    <div class="content_post" >
       




          <p><%=link_to game.title, game_path(game) %></p>
          <p><%= game.start_time%></p>
          <p><%= game.end_time %></p>
          <p><%= game.team.team_name %></p>
    </div>
  <% end %>
</div>

